build
dist / media
node_modules
.DS_Store
.env
.env.development
.env.production
.next
.vercel
.editorconfig

# Payload default media upload directory
public/media/*

public/robots.txt
public/sitemap*.xml
tsconfig.tsbuildinfo